* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: normal 16px sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
}

body {
  color: #555555;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

section {
  min-height: 500px;
  padding-bottom: 40px;
  width: 100%;
}

p {
  font-size: 1.1rem;
  line-height: 155%;
  padding: 2px;
}

.section-title {
  font-size: 2rem;
  margin: 80px 0 30px;
}

.section-text {
  margin-bottom: 20px;
  padding: 0 25px;
  width: 80%;
}

.border-bottom {
  border: 2px solid #3f51b5;
  margin: 20px 0 60px;
  width: 300px;
}

/*

HEADER STYLING SECTION   ******************

*/
.main-header {
  align-items: center;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  padding: 40px 60px 0;
  position: absolute;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  width: 100%;
  z-index: 1;
  animation: 1.5s fadein 500ms forwards;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

.main-nav {
  display: flex;
}

.nav-item {
  margin-left: 20px;
}

.nav-item:first-child {
  margin: 0;
}


/*

HERO STYLING SECTION   ******************

*/
.hero {
  color: #ffffff;
  min-height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
}

.hero-image {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-content {
  align-items: center;
  align-self: center;
  animation: slidein 1.5s 1s forwards;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  position: relative;
  top: 150px;
}

@keyframes slidein {
  100% {
    opacity: 1;
    top: 0;
  }
}

.hero-title {
  font-size: 3rem;
  margin: 20px;
}

.hero-tag {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.hero-button,
.button {
  background: #3f51b5;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  opacity: 1;
  padding: 15px 20px;
  text-transform: uppercase;
  text-align: center;
  max-width: 225px;
}


/*

DESTINATIONS STYLING SECTION   ******************

*/
.destinations {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  text-align: center;
}

.destinations-image-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
}

.row {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.destinations-image {
  flex-basis: 70%;
  flex-shrink: 4;
  height: 300px;
  margin: 0 20px 40px;
  position: relative;
  width: 200px;
}

.image-1 {
  background-image: url(../img/mountain1.jpg);
  background-size: cover;
  background-position: center;
}

.image-2 {
  background-image: url(../img/mountain2.jpg);
  background-size: cover;
  background-position: center;
}

.image-3 {
  background-image: url(../img/mountain3.jpg);
  background-size: cover;
  background-position: center;
}

.image-4 {
  background-image: url(../img/mountain4.jpg);
  background-size: cover;
  background-position: center;
}

.small {
  flex-basis: 30%;
  flex-shrink: 1;
}

/*

FEATURES STYLING SECTION   ******************

*/
.features {
  align-items: center;
  background: #f0efef;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.features-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}

.feature {
  flex-basis: 25%;
  margin-bottom: 60px;
  padding: 15px;
}

.feature h3 {
  margin: 10px 0 15px;
}

.feature i {
  color: #7780b3;
  font-size: 4rem;
  padding: 20px;
}


/*

TESTIMONIALS SECTION

*/
.testimonials {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.testimonials-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
}

.testimonial {
  margin-bottom: 30px;
}

blockquote {
  margin-bottom: 15px;
  padding: 0 15px;
  text-align: center;
}

.author {
  font-style: italic;
  margin: 20px 0 40px;
}

/*

ABOUT / LEARN MORE SECTION

*/
.about-section {
  align-items: center;
  background: #f0efef;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input[type="email"] {
  color: #555555;
  font-size: 1rem;
  padding: 15px;
  width: 350px;
}

.button {
  font-size: 1rem;
  font-weight: 300;
  margin: 20px;
}

/*

FOOTER SECTION 

*/
footer {
  align-items: center;
  background: #607d8b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  text-transform: uppercase;
}

footer p {
  font-size: .8rem;
}

ul {
  display: flex;
  list-style: none;
}

li {
  font-size: 1.5rem;
  margin: 10px;
}
/*

MEDIA QUERIES SECTION 

*/
@media all and (max-width: 900px) {
  .destinations-image-container {
    width: 100%;
  }
  .destinations-image {
    flex: 1 1 50%;
  }
  .feature {
    flex-basis: 50%;
  }
  .testimonials-content {
    width: 70%;
  }
}

@media all and (max-width: 600px) {
  .main-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .brand-name {
    margin-bottom: 20px;
  }
  .hero-title {
    font-size: 2.5rem;
  }
  .hero-tag {
    font-size: 1.2rem;
  }
  .hero-button {
    font-size: .8rem;
  }
  .section-text {
    padding: 0;
  }
  .destinations-image-container,
  .row {
    flex-direction: column;
  }
  .row {
    margin-bottom: 0;
    padding: 0;
  }
  .destinations-image {
    flex: 1;
    width: 100%;
    margin: 0 0 20px;
  }
  .feature {
    flex-basis: 100%;
  }
  .testimonials-content {
    width: 90%;
  }
}