* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wide {
  width: 100vw;
}

.header {
  background: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.row {
  display: flex;
  flex: 1 1 80%;
}

.col {
  background: lightcyan;
  border-right: 2px solid lightseagreen;
  flex: 1 3 20%;
}

.col:last-child {
  border-right: none;
}

.content {
  background: lightgoldenrodyellow;
  flex: 1 1 60%;
}

.footer {
  background: lightblue;
  min-height: 75px;
}

@media all and (max-width: 640px) {
  .row {
    flex-direction: column;
  }
  .content {
    order: -1; 
  }
  .col {
    border-right: none;
    border-bottom: 2px solid lightseagreen;
  }
}